<h1>Home Page</h1>

<br>
<div *ngIf="isUserAuthenticated()" style="color:blue">
	<h2>
		YOU ARE LOGGED IN
	</h2>
</div>

<br>
<ul>
	<li><a routerLink="/customers">Customer</a></li>
	<li *ngIf="!isUserAuthenticated()"><a routerLink="/login">Login</a></li>
	<li *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()">Log out</a></li>
</ul>